%h1 QR Hunt - Admin

%h2 Ny kod

%div 
  = form_tag '/add_tag', :method=>:post do
    %p
      = label_tag "Namn", :for=>'name'
      = input_tag :text, :name => 'name'
    %p
      = label_tag "Värde", :for=>'points'
      = input_tag :text, :name => 'points'
    %p
      = input_tag :submit, :value=>"Skapa"

%h2 Alla koder

%div
  %table{:class=>"table table-striped table-hover"}
    %thead
      %tr
        %th Namn
        %th Värde
        %th Länk
        %th Radera
    %tbody
      - Tag.all.each do |tag|
        %tr
          %td= tag.name
          %td= tag.points
          %td
            %a{href: "/qr/#{tag.code}"} #{$baseurl}/qr/#{tag.code}
          %td
            %a{href: "/delete_tag/#{tag.id}"} Radera

