- pos, u_next, u_prev = @user.position_with_next_and_prev

%h1
  = @user.name
  (#
  = pos
  )

%p
  %strong Total antal poäng:
  =@user.score

%p
  %strong Nästa uppåt:
  - if u_next
    = u_next.name
    med
    = u_next.score
    poäng
  - else
    \-

%p
  %strong Nästa neråt:
  - if u_prev
    = u_prev.name
    med
    = u_prev.score
    poäng
  - else
    \-


%h3 Funna taggar

%p
  %ul
    - @user.tags.each do |tag|
      %li
        %strong= tag.name
        (
        =tag.points
        poäng
        )
